<mat-card>
  <div class="flex-row">
    <span class="fill-space"></span>
    <button mat-flat-button (click)="copyRegistrationLink()">Copy Registration Link</button>
  </div>
  <mat-tab-group>
    <mat-tab label="Members">
      <app-membership [possibleRoles]="roles"></app-membership>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>
          <span [matBadge]="pendingCount" *ngIf="pendingCount>0" matBadgeOverlap="false">Pending Requests</span>
          <span *ngIf="pendingCount == 0">Pending Requests</span>
      </ng-template>  
      <app-pending-requests (resolveEvent)="updatePendingRequestsCount()" [possibleRoles]="roles"></app-pending-requests>
    </mat-tab>
  </mat-tab-group>
</mat-card>