<mat-card>
  <mat-grid-list cols="5" rowHeight="5em">
    <mat-grid-tile colspan="1">
      <h1>Active Users</h1>
    </mat-grid-tile>  
    <mat-grid-tile colspan="3"></mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button mat-flat-button (click)="refreshActiveUsers()">Refresh</button>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-expansion-panel *ngFor="let student of students">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ student.name }}
      </mat-panel-title>
      <mat-panel-description [innerHtml]="student.courses"></mat-panel-description>
    </mat-expansion-panel-header>
    {{ student.problemDescription }}
    <!-- (click)="checkoffUser(student)" -->
    <button mat-flat-button  class="checkoff">Check Off</button>
  </mat-expansion-panel>
</mat-card>