mat-card {
  background-color: white;
  max-width: 1000px;
  margin: 10px auto;
}

button {
  margin: 1em;
}

mat-expansion-panel {
  margin: 1em auto;
}

mat-panel-title {
  padding: 1em 0 0 0;
}

mat-panel-description {
  flex: 0 0 auto;
  margin: 1em;
}