mat-card {
  background-color: white;
  max-width: 40%;
  margin: 10px auto;
}

mat-card-content {
  margin: 0 5% 0 5%;
  align-items: center;
}

h3 {
  text-align: left;
}

.add-course {
  visibility: hidden
}

.last .add-course {
  visibility: visible;
  background: #33cc33;
  margin: 0 0 0 2em;
}

mat-list {
  width: 100%;
  margin: 0 0 2em 5em;
}

textarea {
  margin: 0 0 2em 7em;
  width: 30%;
}
