<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Session Information</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <h2>Courses:</h2>
      <mat-list>
        <mat-list-item *ngFor="let course of courses;let index = index;let last = last;" [ngClass]="{last: last}">
          <mat-form-field>
            <input matInput [(ngModel)]="courses[index]" [ngModelOptions]="{standalone: true, updateOn: 'blur'}"/>
          </mat-form-field>
          <button mat-icon-button (click)="addCourseRow()" class='add-course'><b>+</b></button>
        </mat-list-item>
      </mat-list>
      <h2>Problem Description:</h2>
      <textarea [(ngModel)]="description" md-maxlength="200" rows="5" md-select-on-focus [ngModelOptions]="{standalone: true}"></textarea>
      <br>
      <button mat-raised-button (click)="addStudent()" color="primary">Sign In Percopo Classroom</button>
    </form>
  </mat-card-content>
</mat-card>